{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c60455fa26.js"
      crossorigin="anonymous"
    ></script>
    {% block stylesheets %} {% endblock %} {% block scripts %} {% endblock %}
    <link rel="stylesheet" href="{% static 'landing_page/css/base.css' %}" />
    <script src="{% static 'movies/js/search.js' %}" defer></script>
    <script src="{% static 'landing_page/js/index.js' %}" defer></script>

    <title>ReeldIn</title>
  </head>

  <div class="page-container">
    <div class="content-wrap">
      <header>{% include 'base/header_base.html' %}</header>

      <nav>
        <a href="{% url 'landing_page:index' %}">Home</a>
        <a href="{% url 'landing_page:about' %}">About</a>
      </nav>

      <body>
        {% block content %} {% endblock %}
      </body>
    </div>

    <footer>{% include 'base/footer_base.html' %}</footer>
  </div>
</html>
