{% extends 'landing_page/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet"
        href="{% static 'landing_page/css/conditions.css' %}" />
  <div id="message-div">
    <h1>Terms and Conditions</h1>
  </div>
  <div class="content-div">
    <div class="terms-div">
      <div class="section">
        <h2>Conditions of use</h2>
        <p>
          By using this website, you certify that you have read and reviewed this
          Agreement and that you agree to comply with its terms. If you do not
          want to be bound by the terms of this Agreement, you are advised to stop
          using the website accordingly. ReeldIn only grants use and access of
          this website, its products, and its services to those who have accepted
          its terms.
        </p>
      </div>
      <div class="section">
        <h2>Privacy policy</h2>
        <p>
          ReeldIn collects information provided by users including email
          addresses, usernames, passwords, profile pictures, and external data
          from IMDB or Letterboxd should the user choose to upload them. This
          information is used to provide users with the best possible experience
          on our website. We do not share this information with third parties.
        </p>
      </div>
      <div class="section">
        <h2>Age restriction</h2>
        <p>
          You must be at least 18 (eighteen) years of age before you can use this
          website. By using this website, you warrant that you are at least 18
          years of age and you may legally adhere to this Agreement. ReeldIn
          assumes no responsibility for liabilities related to age
          misrepresentation.
        </p>
      </div>
      <div class="section">
        <h2>Intellectual property</h2>
        <p>
          You agree that all materials, products, and services provided on this
          website are the property of ReeldIn, its affiliates, directors,
          officers, employees, agents, suppliers, or licensors including all
          copyrights, trade secrets, trademarks, patents, and other intellectual
          property. You also agree that you will not reproduce or redistribute the
          ReeldIn's intellectual property in any way, including electronic,
          digital, or new trademark registrations.
        </p>
      </div>
      <div class="section">
        <h2>User accounts</h2>
        <p>
          As a user of this website, you may be asked to register with us and
          provide private information. You are responsible for ensuring the
          accuracy of this information, and you are responsible for maintaining
          the safety and security of your identifying information. You are also
          responsible for all activities that occur under your account or
          password. If you think there are any possible issues regarding the
          security of your account on the website, inform us immediately so we may
          address them accordingly. We reserve all rights to terminate accounts,
          edit or remove content at our sole discretion.
        </p>
      </div>
      <div class="section">
        <h2>Applicable law</h2>
        <p>
          By using this website, you agree that the laws of the United States of
          America, without regard to principles of conflict laws, will govern
          these terms and conditions, or any dispute of any sort that might come
          between ReeldIn and you, or its business partners and associates.
        </p>
      </div>
      <div class="section">
        <h2>Disputes</h2>
        <p>
          Any dispute related in any way to your use of this website from us shall
          be arbitrated by state or federal court of the United States of America
          and you consent to exclusive jurisdiction and venue of such courts.
        </p>
      </div>
      <div class="section">
        <h2>Indemnification</h2>
        <p>
          You agree to indemnify ReeldIn and its affiliates and hold ReeldIn
          harmless against legal claims and demands that may arise from your use
          or misuse of our services. We reserve the right to select our own legal
          counsel.
        </p>
      </div>
      <div class="section">
        <h2>Limitation on liability</h2>
        <p>
          Limitation on liability ReeldIn is not liable for any damages that may
          occur to you as a result of your misuse of our website. ReeldIn reserves
          the right to edit, modify, and change this Agreement at any time. We
          shall let our users know of these changes through electronic mail. This
          Agreement is an understanding between ReeldIn and the user, and this
          supersedes and replaces all prior agreements regarding the use of this
          website.
        </p>
      </div>
    </div>
    <p>Last Updated: April 28th, 2024 - 9:40pm MST</p>
    <p>
      Adapted from: Website terms and conditions template by
      <a href="https://www.websitepolicies.com/"
         target="_blank"
         rel="noopener noreferrer">WebsitePolicies.com</a>
    </p>
  </div>
{% endblock content %}
