.about-div {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin-right: 1rem;
  margin-left: 1rem;
}

.attribution img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.attribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

/* For Mobile S 320px / Mobile M 375px / Mobile L 425 */

/* no padding for this section, and reduce margins */
@media screen and (width <= 550px) {
  .attribution img {
    height: 20px;
  }
}

/* For Tablet 768px */
@media screen and (width <= 849px) and (width >= 550px) {
  .attribution img {
    height: 30px;
  }
}
