@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap");

#movie-button {
    font-size: 28.7px;
    font-family: var(--primary-font);
    color: var(--black);
    border-radius: 12px;
    text-align: center;
    padding: 10px;

}

#movie_summary {
    font-family: var(--primary-font);
    font-size: 32px;
}
#movie_name {
    font-size: 32px;
    font-family: var(--primary-font);
    margin-left: 10px;
    display: flex;
    
}

#movie_button_nav {
    margin-left: 250px;
}

/* The poster / buttons / font size for each screen size will slighly differ */
@media (max-width:500px){
    img{
        height: 350px;
        width: 300px;
        align-items: center;
    }
    p {
        display: block;
        font-size: 20px;
    }

    #movie_button_nav {
        margin-left: 0px;
        display: block;
    }

    #movie_name {
        display: block;
    }
}

@media (max-width:800px) and (min-width:500px) {
    img{
        height: 500;
        width: 350;
    }
    p {
        font-size: 28px;
    }

    #movie_button_nav {
        margin-left: 0px;
    }
}

@media (max-width:3000px) and (min-width:1441px){
    img{
        height:700;
        width: 550;
    }
    
    p {
        font-size: 40px;
    }

    #movie_button {
        display: flex;

    }
}