@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap");

#movie-button {
    font-size: 28.7px;
    font-family: var(--primary-font);
    color: var(--black);
    border-radius: 12px;
    text-align: center;
    padding: 10px;

}

#movie_summary {
    font-family: var(--primary-font);
    font-size: 32px;
    text-align: left;
}
#movie_name {
    font-size: 40px;
    font-family: var(--primary-font);
    margin-left: 10px;
    display: inline;
    padding: 10px;
    text-align: center;
}

#movie_button_nav {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    height: 600px;
    width: auto;
}

/* The poster / buttons / font size for each screen size will slighly differ */
@media screen and (max-width:300px) and (min-width:0px){
    img {
      height: 100px;
      width: 70px;
    }
    #movie_summary {
        font-size: 16px;
    }
    #movie_name, #movie_button_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
  }
  @media screen and (max-width:400px) and (min-width:300px){
   img{ height: 250px;
    width: auto;
    justify-content: center;
   }
   #movie_summary {
    font-size: 16px;
   }
   #movie_name, #movie_button_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;

    }
  }
@media screen and (max-width:500px) and (min-width:400px){
    img{
        height: 40vh;
        width: auto;
        align-items: center;
    }

    #movie_name {
        font-size: 29px;
    }

    #movie_name, #movie_button_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #movie_button_nav {
        margin-left: 0px;
        padding: 5px;
    }

    p {
        display: block;
        font-size: 20px;
    }
}

@media screen and (max-width:800px) and (min-width:500px) {
    img{
        height: 500px;
        width: 350px;
    }
    p {
        font-size: 28px;
        margin-left: 2rem;
    }

    #movie_button_nav {
        margin-left: 0px;
    }
}

@media screen and (max-width:3000px) and (min-width:1441px){
    img{
        height:700px;
        width: auto;
    }
    
    p {
        font-size: 35px;
        padding: 10px;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

}