p {
  margin-bottom: 1rem;
}

#search_results_div {
  padding: 1rem 2rem;
}

.search_result {
  display: flex;
  padding: 25px;
  background-color: var(--white);
  margin-bottom: 15px;
  border-radius: 15px;
}

.search_result:nth-child(even) {
  background-color: #e7e7e7;
}

.poster {
  cursor: pointer;
  transition: all 0.3s ease;
}

.poster:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.movie_title {
  display: block;
  float: left;
  color: black;
  margin-bottom: 1rem;
}

.movie_link {
  color: black;
  margin-bottom: 1rem;
}

.movie_details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: left;
  text-align: left;
}
