a { 
    color: black;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

#search_results_div {
    padding: 1rem 2rem;
}

.search_result {
    display: flex;
    padding: 1rem;
}

.movie_details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: left;
    text-align: left;
}