# Created by https://www.toptal.com/developers/gitignore/api/django,visualstudiocode,visualstudio,windows,macos,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=django,visualstudiocode,visualstudio,windows,macos,linux
# Heavily-modified version of the above resources.

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environments
.env
.venv
env/
venv/
ENV/

# Node.js Tools for Visual Studio
node_modules/

# ReeldIn-Specific
successful-setup.txt