{% extends 'landing_page/base.html' %} {% load static %} {% block stylesheets %}
<link rel="stylesheet" href="{% static 'movies/css/search.css' %}" />
{% endblock %} {% block scripts %}
<script>
  var WATCHMODE_API_KEY = "{{ WATCHMODE_API_KEY }}";
</script>
{% endblock %} {% block content %}
<div id="search-results-div">
  <div loading="lazy">
    {% if movies %} {% for movie in movies %}
    <div class="search-result" id="movie_{{ movie.id }}">
      <img
        loading="lazy"
        id="poster_{{ movie.id }}"
        class="poster"
        alt="{{ movie.name }}"
        onclick="loadDetailsPage('{{ movie.id }}')"
        src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
      />

      <div class="searched-movie-details">
        <h1 class="movie-title">
          <a class="movie-link" href="/movie/{{ movie.id }}"
            >{{ movie.name }}</a
          >
        </h1>
        <p>{{ movie.overview }}</p>
        <p><strong>Release Year:</strong> {{ movie.year }}</p>
        <p><strong>Director:</strong> {{ movie.director.0 }}</p>
        <p><strong>Runtime:</strong> {{ movie.runtime }} minutes</p>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No movies found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
