{% extends 'accounts/onboarding_base.html' %} {% load static %}

{% block header %}Triggers{% endblock header %} 
{% block caption %}Select any triggers that you would like to avoid being recommended (these will be auto-selected){% endblock caption %}
{% block content %}
<h1>TODO PAGE/BUTTONS NOT FUNCTIONAL</h1> <!--TODO uncomment later-->
<!--Back Modal-->
  <section class="modal hidden" id ="confirm_exit_modal">
    <div class="flex">
      <h3>Are you sure you want to exit?</h3>
      <button class="btn-close" onclick="closeExitModal()">⨉</button>
    </div>
    <div>
      <p id="exit_warning">Any changes made will not be saved!</p>
    </div>
  
    <button class="btn profile_button" id="yes_delete_friend_request_button" onclick="redirectToLandingPage()">Yes</button>
    <button class="btn profile_button" id="no_delete_friend_request_button" onclick="closeExitModal()">No</button>
  </section>
  
{% endblock content %}
{% block footer_buttons %}
  <button onclick="openBackModal()" id="back-button" class="button">Back</button>
  <button onclick="submitOnboardingGenreForm()" id="next-button" class="button">Save & Continue</button>
{% endblock footer_buttons %}

{% block scripts %} <script src="{% static 'accounts/js/onboarding_triggers.js' %}"></script> {% endblock scripts %}