{% extends 'accounts/onboarding_base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet"
        href="{% static 'accounts/css/onboarding_intro.css' %}" />
  <title>ReeldIn: User Onboarding</title>
{% endblock head %}

{% block header %}
  Welcome!
{% endblock header %}
{% block caption %}
{% endblock caption %}

{% block content %}
  <div class = "onboarding-intro">
    <h1>Let's get started {{ request.user.username }}!</h1>
    <p id = "caption_1">
      Before you begin getting recommended movies, would you like to go through your movie preferences?
    </p>
    <p id = "caption_2">
      You can always update your preferences later through <strong>Profile</strong> -> <strong>Settings</strong>.
    </p>
  </div>

  <div class = "onboarding-buttons">
    <button class="button" id="intro-no" onclick="redirectToRecommendations()">No</button>
    <button class="button" id="intro-yes" onclick="redirectToOnboardingMovies()">Yes</button>
  </div>

  <!-- Exit modal-->
  <section class="modal hidden" id ="confirm_exit_modal">
    <div class="flex">
      <h3>Are you sure you want to exit?</h3>
      <button class="btn-close" onclick="closeExitModal()">⨉</button>
    </div>
    <div>
      <p id="exit_warning">Any unsaved changes will be lost!</p>
    </div>
    <button class="btn"  onclick="window.location.href = '/'">Yes</button>
    <button class="btn" onclick="closeExitModal()">No</button>
  </section>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'accounts/js/onboarding_intro.js' %}"></script>
{% endblock scripts %}
