{% extends 'accounts/onboarding_base.html' %}
{% load static %}

{% block head %}
  <title>ReeldIn: Streaming Options</title>
{% endblock head %}

{% block header %}
  Streaming
{% endblock header %}
{% block caption %}
  Select all the streaming services you have access to.
{% endblock caption %}

{% block content %}
  <form method="post" id="onboarding-form" enctype="multipart/form-data">
    <!--Form layout inspired by https://stackoverflow.com/questions/8727436/display-a-grid-radio-form-with-django-forms-or-django-floppyforms-->
    {% csrf_token %}
    <table class="onboarding-table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Subscribed</th>
        </tr>
      </thead>
      <tbody>
        {% for field in form %}
          <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock content %}

{% block exit_header %}
  Are you sure you want to go back to the previous section?
{% endblock exit_header %}
{% block exit_button %}
  <button class="btn"
          onclick="window.location.href = '/accounts/onboarding/triggers/'">Yes</button>
{% endblock exit_button %}

{% block footer_buttons %}
  <button onclick="openExitModal()" id="back-button" class="button">Back</button>
  <button onclick="submitStreamingForm()" id="next-button" class="button">Save & Finish</button>
{% endblock footer_buttons %}

{% block scripts %}
  <script src="{% static 'accounts/js/onboarding_streaming.js' %}"></script>
{% endblock scripts %}
