{% extends 'accounts/onboarding_base.html' %} {% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'accounts/css/onboarding_triggers.css' %}" /> 
    <title>ReeldIn: Trigger Preferences</title>
{% endblock head %}

{% block header %}Triggers{% endblock header %} 
{% block caption %}
  Select any triggers that you would like to avoid being recommended (these will be auto-selected).
{% endblock caption %}

{% block content %}
<h1>TODO PAGE/BUTTONS NOT FUNCTIONAL</h1>

{% endblock content %}
{% block footer_buttons %}
  <button onclick="openBackModal()" id="back-button" class="button">Back</button>
  <button onclick="submitOnboardingGenreForm()" id="next-button" class="button">Save & Continue</button>
{% endblock footer_buttons %}

{% block scripts %} <script src="{% static 'accounts/js/onboarding_triggers.js' %}"></script> {% endblock scripts %}