{% extends 'accounts/onboarding_base.html' %} {% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/onboarding_movies.css' %}" /> 
  <title>ReeldIn: Movie Preferences</title>
{% endblock head %}

{% block header %}Movies{% endblock header %} 
{% block caption %}
  Let's figure out your movie preferences, search for as many films as you'd like! 
{% endblock caption %}

{% block content %}

<div id="onboarding_search">
    <input type="text" id="searchbar" name="searchbar" placeholder="Search for movies..." autocomplete="off"
      autocapitalize="off" onkeyup="searchMovies(event)"/>
</div>
<button id="debug_remove_btn" onclick="printRemoved()">DOWNLOAD THE IDs OF MOVIES TO BE REMOVED</button>
<div id="movie_container">
</div>

<div id="remove_movies_container">
  <h2>These movies are set to be removed! If you do "Search and save" it will attempt to get rid of these movies!</h2>
  <div id="remove_movies">
    <!--Posters go here-->
    
  </div>
</div>


{% endblock content %}




{% block exit_header %}
  Are you sure you want to delete the movies in the delete section? This cannot be undone (maybe)
{% endblock exit_header %}

{% block exit_button %}
  <button class="btn" onclick="deleteMovies()">Yes</button>
{% endblock exit_button %}

{% block footer_buttons %}
  <button onclick="openExitModal()" id="next-button" class="button">DELETE MOVIES IN THE DELETE SECTION</button>
{% endblock footer_buttons %}


{% block scripts %} <script src="{% static 'accounts/js/onboarding_movies.js' %}"></script> {% endblock scripts %}