{% extends 'accounts/onboarding_base.html' %} {% load static %}

{% block head %} <link rel="stylesheet" href="{% static 'accounts/css/onboarding_genres.css' %}" /> {% endblock head %}
{% block header %}Genres{% endblock header %}
{% block caption %}Select the genres that you like, dislike, and would prefer to block (meaning a movie with that genre will never be recommended){% endblock caption %}
{% block content %}
<!--Form contents-->
  {% if form.non_field_errors %}
    <div class="genre_error">
      {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  <form method="post" id="onboarding-form">
      <!--Form layout inspired by https://stackoverflow.com/questions/8727436/display-a-grid-radio-form-with-django-forms-or-django-floppyforms-->
      {% csrf_token %}
      <table class="genre-table">
          <thead>
              <tr>
                  <th>Genre</th>
                  <th>Like</th>
                  <th>Dislike</th>
                  <th>Block</th>
                  <th>No Preference</th>
              </tr>
          </thead>
          <tbody>
              {% for field in form %}
                  <tr>
                      <th>{{ field.label }}</th>
                      {% for radio in field %}
                          <td>
                              {{ radio.tag }}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </form>



{% endblock content %}

{% block footer_buttons %}
<button onclick="openExitModal()" id="back-button" class="button">Exit</button>
<button onclick="submitOnboardingGenreForm()" id="next-button" class="button">Save & Continue</button>
{% endblock footer_buttons %}

{% block scripts %}
<script src="{% static 'accounts/js/onboarding_genres.js' %}"></script>
{% endblock scripts %}