{% extends 'landing_page/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/modal.css' %}" />
  <script src="{% static 'accounts/js/profile.js' %}" defer></script>

  <div id="message-div">
    <h1>Hi {{ request.user }}!</h1>
  </div>
  <div class="content-div">
    <!-- User information and Settings Button -->
    <div id="user-info-div">
      <div id="profile-pic-div">
        <img src="{{ request.user.profile_picture.url }}"
             alt="Profile Picture"
             class="profile-img" />
        <div id="info">
          <h2>{{ request.user }}</h2>
          <p>Member since: {{ request.user.date_joined|date:"F d, Y" }}</p>
        </div>
      </div>
      <div id="button-div">
        <a href="{% url 'accounts:settings' %}">
          <button id="settings_btn">Settings</button>
        </a>
      </div>
    </div>

    <div class="user-content">
      <!-- Left Column of lists-->
      <div class="user-lists-div">
        <!--Recommended movies list-->
        <div class="list-div" id="recommended-div">
          <h3>Recommended</h3>
          <div class="list" id="recommended-movies">
            {% if recommended_movies %}
              {% for movie in recommended_movies %}
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
                     onclick="goToMoviePage('{{ movie.pk }}')"
                     alt="Movie Poster" />
              {% endfor %}
            {% else %}
              <p class="placeholder-text">No movies yet!</p>
            {% endif %}
          </div>
        </div>

        <!-- Liked movies list -->
        <div class="list-div" id="liked-div">
          <h3>Liked Movies</h3>
          <div class="list" id="liked-movies">
            {% if liked_movies %}
              {% for movie in liked_movies %}
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
                     onclick="goToMoviePage('{{ movie.pk }}')"
                     alt="Movie Poster" />
              {% endfor %}
            {% else %}
              <p class="placeholder-text">No movies yet!</p>
            {% endif %}
          </div>
        </div>

        <!-- Disliked movies list-->
        <div class="list-div" id="disliked-div">
          <h3>Disliked Movies</h3>
          <div class="list" id="disliked-movies">
            {% if disliked_movies %}
              {% for movie in disliked_movies %}
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
                     onclick="goToMoviePage('{{ movie.pk }}')"
                     alt="Movie Poster" />
              {% endfor %}
            {% else %}
              <p class="placeholder-text">No movies yet!</p>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Middle Column of Lists -->
      <div class="middle-col">
        <!-- Watch later list-->
        <div class="list-div" id="watchlist-div">
          <h3>Watch Later</h3>
          <div class="list" id="watchlist">
            {% if watchlist_movies %}
              {% for movie in watchlist_movies %}
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
                     onclick="goToMoviePage('{{ movie.pk }}')"
                     alt="Movie Poster" />
              {% endfor %}
            {% else %}
              <p class="placeholder-text">No movies yet!</p>
            {% endif %}
          </div>
        </div>

        <!-- Movies watched list-->
        <div class="list-div">
          <h3>Watched</h3>
          <div class="list" id="watched-movies" id="watched-div">
            {% if watched_movies %}
              {% for movie in watched_movies %}
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster }}"
                     onclick="goToMoviePage('{{ movie.pk }}')"
                     alt="Movie Poster" />
              {% endfor %}
            {% else %}
              <p class="placeholder-text">No movies yet!</p>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Friends List Container / Right Column -->
      <div class="friends-div">
        <div class="friends-title">
          <h2>Your Friends</h2>
          <button class="btn btn-open" onclick="openAddFriendModal()">Add Friend</button>
        </div>
        <!--Friends List-->
        <div class="friends-list" id="friends-list">
          {% if friends %}
            <p class="placeholder-text hidden" id="friends-list-text">No friends yet!</p>
            {% for friend in friends %}
              <div class="friend"
                   id="{{ friend.username }}-profile-div"
                   onclick="openRemoveFriendModal('{{ friend.username }}')">
                <img src="{{ friend.profile_picture.url }}" class="profile-img" />
                <h3>{{ friend.username }}</h3>
              </div>
            {% endfor %}
          {% else %}
            <p class="placeholder-text" id="friends-list-text">No friends yet!</p>
          {% endif %}
        </div>
        <!--Received Friend Requests-->
        <h2>Received Requests</h2>
        <div class="friends-list" id="received-requests">
          {% if received_requests %}
            <p class="placeholder-text hidden" id="received-requests-text">No friend requests received!</p>
            {% for request in received_requests %}
              <div class="friend"
                   id="{{ request.sender.username }}-profile-div"
                   onclick="openFriendRequestModal('{{ request.sender.username }}')">
                <img src="{{ request.sender.profile_picture.url }}" class="profile-img" />
                <h3>{{ request.sender.username }}</h3>
              </div>
            {% endfor %}
          {% else %}
            <p class="placeholder-text" id="received-requests-text">No friend requests received!</p>
          {% endif %}
        </div>
        <!--Sent Friend Requests-->
        <h2>Sent Requests</h2>
        <div class="friends-list" id="sent-requests">
          {% if sent_requests %}
            <p class="placeholder-text hidden" id="sent-requests-text">No friend requests sent!</p>
            {% for request in sent_requests %}
              <div class="friend"
                   id="{{ request.receiver.username }}-profile-div"
                   onclick="openDeleteFriendRequestModal('{{ request.receiver.username }}')">
                <img src="{{ request.receiver.profile_picture.url }}" class="profile-img" />
                <h3>{{ request.receiver.username }}</h3>
              </div>
            {% endfor %}
          {% else %}
            <p class="placeholder-text" id="sent-requests-text">No friend requests sent!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal box for adding/searching for friend -->
  <section class="modal hidden" id="add-friend-modal">
    <div class="flex">
      <h3>Enter your friend's Username!</h3>
      <button class="btn-close" onclick="closeAddFriendModal()">⨉</button>
    </div>
    <div>
      <p id="add-friend-response"></p>
      <p>We will send a friend request to the user with the username you provide.</p>
    </div>
    <input type="text"
           id="send-friend-username"
           placeholder="Username"
           name="send-friend-username" />
    <button class="btn" onclick="sendFriendRequest()">Submit</button>
  </section>

  <!-- Modal box for deleting friend from friends list -->
  <section class="modal hidden" id="remove-friend-modal">
    <div class="flex">
      <h3>Delete Friend</h3>
      <button class="btn-close" onclick="closeRemoveFriendModal()">⨉</button>
    </div>
    <div>
      <p id="remove-friend-response"></p>
      <p id="remove-friend-name"></p>
    </div>
    <button class="btn profile-button"
            id="remove-confirm-button"
            onclick="removeFriend()">Yes</button>
    <button class="btn profile-button"
            id="remove-reject-button"
            onclick="closeRemoveFriendModal()">No</button>
  </section>

  <!-- Modal box for received friend request -->
  <section class="modal hidden" id="friend-request-modal">
    <div class="flex">
      <h3>Friend Request</h3>
      <button class="btn-close" onclick="closeFriendRequestModal()">⨉</button>
    </div>
    <div>
      <p id="friend-request-response"></p>
      <p id="friend-request-text"></p>
    </div>
    <button class="btn profile-button"
            id="accept-friend-button"
            onclick="acceptFriendRequest()">Accept</button>
    <button class="btn profile-button"
            id="reject-friend-button"
            onclick="rejectFriendRequest()">Reject</button>
  </section>

  <!-- Modal box for sent friend request -->
  <section class="modal hidden" id="delete-friend-request-modal">
    <div class="flex">
      <h3>Friend Request</h3>
      <button class="btn-close" onclick="closeDeleteFriendRequestModal()">⨉</button>
    </div>
    <div>
      <p id="delete-friend-request-response"></p>
      <p id="delete-friend-request-text"></p>
    </div>
    <button class="btn profile-button"
            id="yes-delete-friend-request-button"
            onclick="rejectFriendRequest()">Yes</button>
    <button class="btn profile-button"
            id="no-delete-friend-request-button"
            onclick="closeDeleteFriendRequestModal()">No</button>
  </section>

  <!-- Overlay for background blur -->
  <div class="overlay hidden" onclick="closeCurrentModal()"></div>
{% endblock content %}
