{% extends 'landing_page/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/modal.css' %}" />
<script src="{% static 'accounts/js/modal.js' %}" defer></script>
<script src="{% static 'accounts/js/profile.js' %}" defer></script>
<div id="message_div">
  <h1>Hi {{request.user}}!</h1>
</div>
<div class="content_div">
  <!-- User information and Settings Button -->
  <div id="user_info_div">
    <div id="profile_pic_div">
      <img src="{% static 'accounts/images/profile.png' %}" alt="Profile Picture" class="profile_img"> 
      <!--<img src="{{request.user.profile_picture.url}}" alt="Profile Picture" class="profile_img"> TODO uncomment when ready-->
      <div id="info">
        <h2>{{request.user}}</h2>
        <p>Member since: {{ request.user.date_joined|date:"F d, Y" }}</p>
      </div>
    </div>
    <div id="button_div">
      <a href="{% url 'accounts:settings' %}">
        <button id="settings_btn">Settings</button>
      </a>
    </div>
  </div>

  <div class="user_content">
    <!-- Start of Movie Lists & Left Column -->
    <div class="user_lists_div">
      <!--Recommended movies list-->
      <div class="list_div">
        <h3>Recommended</h3>
        <div class="list" id="recommended_movies">
          {% if recommended_movies %}
            {% for movie in recommended_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>    
      <!-- Liked and Disliked Movies Lists -->
      <div class="list_div">
        <h3>Liked Movies</h3>
        <div class="list" id="liked_movies">
          {% if liked_movies %}
            {% for movie in liked_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
      <div class="list_div">
        <h3>Disliked Movies</h3>
        <div class="list" id="disliked_movies">
          {% if disliked_movies %}
            {% for movie in disliked_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Middle Column of Lists -->
    <div class="middle_col">
      <div class="list_div">
        <h3>Watch Later</h3>
        <div class="list" id="watchlist">
          {% if watchlist_movies %}
            {% for movie in watchlist_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
      <div class="list_div">
        <h3>Watched</h3>
        <div class="list" id="watched_movies">
          {% if watched_movies %}
            {% for movie in watched_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Friends List Container & Right Column -->
    <div class="friends_div">
      <div class="friends_title">
        <h2>Your Friends</h2>
        <button class="btn btn-open">Add Friend</button>
      </div>
      <div class="friends_list">
        <!-- src="{{ friend.profile_picture.url }}" TODO add this line as friend image src once profile_pictures are implemented-->
        {% if friends %}
          {% for friend in friends %}
            <div class="friend">
              <img
                src="{% static 'accounts/images/profile.png' %}"
                class="profile_img" onclick="openFriendModal('{{ friend.pk }}')"
              />
              <h3>{{ friend.username }}</h3>
            </div>
          {% endfor %}
        {% else %}
          <p class="placeholder_text">No friends yet!</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal Box for "Add Friend" Button
     Hidden until button is clicked -->
<section class="modal hidden">
  <div class="flex">
    <h3>Enter your friend's Username!</h3>
    <button class="btn-close">⨉</button>
  </div>
  <div>
    <p>
      We will send a friend request to the user with the username you provide.
    </p>
  </div>

  <input type="email" id="email" placeholder="Username" />
  <button class="btn">Submit</button>
</section>

<div class="overlay hidden"></div>

{% endblock content %}
