{% extends 'landing_page/base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/css/modal.css' %}" />
<script src="{% static 'accounts/js/profile.js' %}" defer></script>
<div id="message_div">
  <h1>Hi {{request.user}}!</h1>
</div>
<div class="content_div">
  <!-- User information and Settings Button -->
  <div id="user_info_div">
    <div id="profile_pic_div">
      <img src="{{request.user.profile_picture.url}}" alt="Profile Picture" class="profile_img"> 
      <div id="info">
        <h2>{{request.user}}</h2>
        <p>Member since: {{ request.user.date_joined|date:"F d, Y" }}</p>
      </div>
    </div>
    <div id="button_div">
      <a href="{% url 'accounts:settings' %}">
        <button id="settings_btn">Settings</button>
      </a>
    </div>
  </div>

  <div class="user_content">
    <!-- Left Column of lists-->
    <div class="user_lists_div">
      <!--Recommended movies list-->
      <div class="list_div">
        <h3>Recommended</h3>
        <div class="list" id="recommended_movies">
          {% if recommended_movies %}
            {% for movie in recommended_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>    
      <!-- Liked movies list -->
      <div class="list_div">
        <h3>Liked Movies</h3>
        <div class="list" id="liked_movies">
          {% if liked_movies %}
            {% for movie in liked_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
      <!-- Disliked movies list-->
      <div class="list_div">
        <h3>Disliked Movies</h3>
        <div class="list" id="disliked_movies">
          {% if disliked_movies %}
            {% for movie in disliked_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Middle Column of Lists -->
    <div class="middle_col">
      <!-- Watch later list-->
      <div class="list_div">
        <h3>Watch Later</h3>
        <div class="list" id="watchlist">
          {% if watchlist_movies %}
            {% for movie in watchlist_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
      <!-- Movies watched list-->
      <div class="list_div">
        <h3>Watched</h3>
        <div class="list" id="watched_movies">
          {% if watched_movies %}
            {% for movie in watched_movies %}
              <img src="https://image.tmdb.org/t/p/original{{ movie.poster }}" onclick="goToMoviePage('{{ movie.pk }}')" alt="Movie Poster" />
            {% endfor %}
          {% else %}
            <p class="placeholder_text">No movies yet!</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Friends List Container / Right Column -->
    <div class="friends_div">
      <div class="friends_title">
        <h2>Your Friends</h2>
        <button class="btn btn-open" onclick="openAddFriendModal()">Add Friend</button>
      </div>
      <!--Friends List-->
      <div class="friends_list">
        {% if friends %}
          {% for friend in friends %}
            
            <div class="friend">
              <img
                src='{{ friend.profile_picture.url }}'
                class="profile_img" onclick="openRemoveFriendModal('{{ friend.username }}')"
              />
              <h3>{{ friend.username }}</h3>
            </div>
          {% endfor %}
        {% else %}
          <p class="placeholder_text">No friends yet!</p>
        {% endif %}
      </div>
      <!--Recieved Friend Requests-->
      <h2>Recieved Requests</h2>
      <div class="friends_list">
        {% if received_requests %}
          {% for request in received_requests %}
            <div class="friend">
              <img
              src='{{ request.sender.profile_picture.url }}'
              class="profile_img" onclick="openFriendRequestModal('{{ request.sender.username }}')"
              />
              <h3>{{  request.sender.username }}</h3>
            </div>
          {% endfor %}
        {% else %}
          <p class="placeholder_text">No friend requests received!</p>
        {% endif %}
      </div>
      <!--Sent Friend Requests-->
      <h2>Sent Requests</h2>
      <div class="friends_list">
        {% if sent_requests %}
          {% for request in sent_requests %}
            
            <div class="friend">
              <img
                src='{{ request.receiver.profile_picture.url }}'
                class="profile_img" onclick="openDeleteFriendRequestModal('{{ request.receiver.username }}')"
              />
              <h3>{{  request.receiver.username }}</h3>
            </div>
          {% endfor %}
        {% else %}
          <p class="placeholder_text">No friend requests sent!</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Modal boxes begin-->

<!-- Modal box for adding/searching for friend -->
<section class="modal" id ="add_friend_modal">
  <div class="flex">
    <h3>Enter your friend's Username!</h3>
    <button class="btn-close" onclick="closeAddFriendModal()">⨉</button>
  </div>
  <div>
    <p id="add_friend_response"></p>
    <p>
      We will send a friend request to the user with the username you provide.
    </p>
  </div>

  <input type="text" id="send_friend_username" placeholder="Username" name="send_friend_username" />
  <button class="btn" onclick="sendFriendRequest()">Submit</button>
</section>

<!-- Modal box for deleting friend from friends list -->
  <section class="modal" id ="remove_friend_modal">
    <div class="flex">
      <h3>Delete Friend</h3>
      <button class="btn-close" onclick="closeRemoveFriendModal()">⨉</button>
    </div>
    <div>
      <p id="remove_friend_response"></p>
      <p id = "remove_friend_name"></p>
    </div>
  
    <button class="btn friend_yes_btn" id="remove_confirm_button" onclick="removeFriend()">Yes</button>
    <button class="btn friend_no_btn" id="remove_reject_button" onclick="closeRemoveFriendModal()">No</button>
  </section>
    
  <!-- Modal box for received friend request -->
  <section class="modal" id ="friend_request_modal">
    <div class="flex">
      <h3>Friend Request</h3>
      <button class="btn-close" onclick="closeFriendRequestModal()">⨉</button>
    </div>
    <div>
      <p id="friend_request_response"></p>
      <p id = "friend_request_text"></p>
    </div>
  
    <button class="btn friend_yes_btn" id="accept_friend_button" onclick="acceptFriendRequest()">Accept</button>
    <button class="btn friend_no_btn" id="reject_friend_button" onclick="rejectFriendRequest()">Reject</button>
  </section>

  <!-- Modal box for sent friend request -->
  <section class="modal" id ="delete_friend_request_modal">
    <div class="flex">
      <h3>Friend Request</h3>
      <button class="btn-close" onclick="closeDeleteFriendRequestModal()">⨉</button>
    </div>
    <div>
      <p id="delete_friend_request_response"></p>
      <p id = "delete_friend_request_text"></p>
    </div>
  
    <button class="btn friend_yes_btn" id="yes_delete_friend_request_button" onclick="acceptFriendRequest()">Yes</button>
    <button class="btn friend_no_btn" id="no_delete_friend_request_button" onclick="closeDeleteFriendRequestModal()">No</button>
  </section>
  <!-- Overlay for background blur -->
  <div class="overlay hidden"></div>

{% endblock content %}
