{% extends 'onboarding/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet"
        href="{% static 'onboarding/css/movies.css' %}" />
  <title>ReeldIn: Movie Preferences</title>
{% endblock head %}
{% block header %}
  Movies
{% endblock header %}

{% block caption %}
  Let's figure out your movie preferences, search for as many films as you'd like!
{% endblock caption %}

{% block content %}
  <div id="onboarding-search">
    <input type="text"
           id="searchbar"
           name="searchbar"
           placeholder="Search for movies..."
           autocomplete="off"
           autocapitalize="off"
           onkeyup="searchMovies(event)" />
  </div>
  <div id="movie-container"></div>
  <!-- Modal box for help -->
  <div class="modal hidden" id="help-modal">
    <div class="flex">
      <button class="btn-close" id="close-help-modal-btn"onclick="closeModal()">⨉</button>
    </div>
    <img src="{% static 'landing_page/images/movie_overlay_instructions.png' %}"
         alt="help" />
  </div>
{% endblock content %}

{% block exit_header %}
  Are you sure you want to go back to the previous section?
{% endblock exit_header %}

{% block exit_button %}
  <button class="btn"
          onclick="window.location.href = '/onboarding/imports/'">Yes</button>
{% endblock exit_button %}
{% block footer_buttons %}
  <button onclick="openExitModal()" id="back-button" class="button">Back</button>
  <button id="help-button"
          class="fa-solid fa-question-circle"
          onclick="showMovieHelpModal()"></button>
  <button onclick="submitOnboardingMovieForm()" id="next-button" class="button">Save & Continue</button>
{% endblock footer_buttons %}

{% block scripts %}
  <script src="{% static 'onboarding/js/movies.js' %}"></script>
{% endblock scripts %}
