{% extends 'recommendations/base.html' %} {% load static %} {% block content %}

<!-- question & form -->
<script src="{% static 'recommendations/js/index.js' %}" defer></script>

<div class="content_div">
  {% if not user.is_authenticated %}
  <h1>You're not logged in - your inputs will not be recorded.</h1>
  {% endif %}
  <h1 id="question">Question #{{ recommendation.step }}</h1>
  {% block form %}
  <form action="{% url 'recommendations:narrow' %}" method="post">
    {% csrf_token %}
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %} {{ form.as_p }}

    <input id="form-submission" type="submit" value="Continue" />
  </form>

  <!-- Number will change later -->
  <h1 id="remaining">
    Remaining Films: {{ recommendation.possible_film_count }}
  </h1>
</div>

{% endblock %} {% endblock content %}
