{% extends 'recommendations/base.html' %}
{% load static %}

{% block content %}
  <script src="{% static 'landing_page/js/search.js' %}"></script>
  <script src="{% static 'recommendations/js/recommendation.js' %}" defer></script>
  <link rel="stylesheet"
        href="{% static 'recommendations/css/recommendation.css' %}" />
  <link rel="stylesheet" href="{% static 'landing_page/css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/modal.css' %}" />

  <div class="content_div">
    <div class="title_div">
      <h2>Here are your recommendations!</h2>
      {% if user.is_authenticated %}
        <div id="reset-recommendations">
          <button id="gen-recommendations-btm" class="rec-btn-open">Start New Recommendation</button>
        </div>
      {% endif %}
    </div>

    {% if triggers %}
      <div class="title_div">
        <h4 id="trigger-warning">
          Be advised: Movies that don't have trigger info on
          <a href="https://www.doesthedogdie.com" target="_blank">doesthedogdie.com</a>
          were not exempt from this selection.
        </h4>
      </div>
    {% endif %}

    <div class="movies_div content_container">
      {% if recommendations %}
        {% for recommendation in recommendations %}
          <div class="movie tooltip">
            <div class="tooltiptext">
              <h3>
                <strong>{{ recommendation.name }}</strong>
              </h3>
              <p>
                <strong>Language:</strong> {{ recommendation.language }}
              </p>
              <p>
                <strong>Genres:</strong> {{ recommendation.genres }}
              </p>
              <p>{{ recommendation.overview }}</p>
              <button onclick="loadDetailsPage('{{ recommendation.id }}')">Go to Movie Page</button>
            </div>
            <img loading="lazy"
                 id="poster_{{ recommendation.id }}"
                 class="poster"
                 alt="{{ recommendation.name }}"
                 src="https://image.tmdb.org/t/p/w200{{ recommendation.poster }}" />
          </div>
        {% endfor %}
      {% else %}
        <p>No movies found.</p>
      {% endif %}
    </div>
  </div>

  <section class="rec-modal hidden">
    <div class="flex">
      <h3>Start New Recommendation</h3>
      <button class="rec-btn-close">⨉</button>
    </div>
    <div>
      <p>
        Are you sure you want to start a new recommendation? This action cannot be
        undone.
        <br />
        <br />
        You'll be able to find these movies in the 'Recommended Flims' section on
        your profile page.
      </p>
    </div>
    <button class="button btn rec-delete-btn">
      <a href="{% url 'recommendations:delete' %}">Start</a>
    </button>
  </section>
  <div class="rec-overlay hidden"></div>
{% endblock %}
