p {
  margin-bottom: 1rem;
}

#search-results-div {
  padding: 1rem 2rem;
}

.search-result {
  display: flex;
  padding: 25px;
  background-color: var(--white);
  margin-bottom: 15px;
  border-radius: 15px;
}

@media screen and (width <= 550px) {
  .search-result {
    display: block;
  }
}

.search-result:nth-child(even) {
  background-color: #e7e7e7;
}

.poster {
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid var(--black);
  transition: all 0.3s ease;
}

.poster:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.movie-title {
  display: block;
  float: left;
  color: black;
  margin-bottom: 1rem;
}

.movie-link {
  color: black;
  margin-bottom: 1rem;
}
