:root {
  --heading-color: black;
  --footer-color: green;

  font-family: var(--primary-font);
}

li {
  margin: 5px 0;
}

#question {
  font-weight: 600;
  font-size: 5vh;
  color: var(--heading-color);
  text-align: center;
}

#remaining {
  font-weight: 600;
  font-size: 4vh;
  color: var(--footer-color);
  text-align: center;
  padding-bottom: 1%;
  bottom: 0;
}

/* hits the 'Question' HTML on the 'recommendations/forms.py' */
#id_Question {
  width: 70vw;
  background-color: var(--white);
  border-width: 0;
  color: black;
  font-family: var(--primary-font);
}

p,
label,
#id_Question {
  margin-bottom: 1em;
  font-size: 1em;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  color: var(--heading-color);
}

.error {
  color: #f12711;
}

.helptext {
  padding-top: 10em;
}

#form-submission {
  font-family: "Inter Tight", sans-serif;
  padding: 0.75rem;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #d2ccfc;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

#form-submission:hover {
  background-color: #333;
  color: #fafafa;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#form-submission:active {
  transform: scale(0.95);
  transition: all 0.1s ease;
}

#demo-warning {
  color: red;
}

@media screen and (width <= 550px) {
  p,
  label {
    display: block;
    padding: 10px;
    font-size: 24px;
  }

  #id_Question {
    display: block;
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (width >= 550px) and (width <= 1500px) {
  p,
  label,
  #id_Question {
    font-size: 24px;
  }
}
