.content_container {
  display: flex;
  background-color: var(--white);
  margin-right: 1rem;
  margin-left: 1rem;
}

#reset-recommendations {
  margin-left: auto;
  margin-right: 0;
  margin-right: 0.5rem;
}

#reset-recommendations button {
  font-family: Inter Tight, sans-serif;
  padding: 0.75rem;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 10px;
}

.movie p {
  margin: 0.5rem;
}

/* for modal button */
.rec-delete-btn {
  font-family: Inter Tight, sans-serif;
  padding: 0.75rem;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #c8adff;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 10px;
}

.rec-delete-btn:hover {
  background-color: #ff4d4d;
}

.rec-delete-btn a {
  display: block;
}

.rec-delete-btn a:hover {
  color: black;
}
