/* Adapted from "How to Build a Modal with JavaScript" by Victor Eke
 https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/ */

.modal,
.rec-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex,
.rec-modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input,
.rec-modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p,
.rec-modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn-close:hover,
.rec-btn-close:hover {
  background-color: #e0e0e0;
  transform: scale(1) !important;
  transition: all 0.3s ease;
}

.btn-close:active,
.rec-btn-close:active {
  transform: scale(1) !important;
}

.btn-close,
.rec-btn-close {
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.overlay,
.rec-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal,
.rec-modal {
  z-index: 2;
}

.hidden {
  display: none;
}
