.footer-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
  }
  
  #onboarding-title{
    display:block;
  }
  
  #back-button {
    position: fixed;
    left: 20px;
    width: 100px;
    background-color: rgb(237, 84, 84);
  }
  
  #next-button {
    position: fixed;
    right: 20px;
    background-color: #44bc3a;
  }
  
  .onboarding-header {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
  }
  
  button {
    font-family: var(--primary-font);
    padding: 0.75rem;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #c8adff;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 10px;
    transition: ease 0.3s;
  }
  
  button:hover {
    background-color: #a38fff;
  }
  
  #logo_div:hover {
    cursor: pointer;
  }
  
  .exit_btn:hover {
    background-color: rgb(237, 84, 84);
  }
  
  .onboarding-table {
    max-width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .onboarding-table th,
  .onboarding-table td {
    border: 1px solid #8f8f8f;
    text-align: left;
    padding: 0.5rem;
  }
  
  .onboarding-content {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  @media only screen and (max-width: 480px) {
    .onboarding-content {
      width: 90%;
    }
  }
  