.trigger-table {
  max-width:70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.trigger-table th,
.trigger-table td {
  border: 1px solid #8f8f8f;
  text-align: left;
  padding: 0.5rem;
}

.onboarding-content{
  width: 75%;
  margin: 0 auto;
  margin-bottom:100px;
}