.settings_container {
  background-color: #f9f9f9 !important;
  margin-bottom: 20px;
}

.explanation {
  max-width: 600px;
  padding: 20px;
}

.instructions li {
  margin-bottom: 5px;
}

/* Styling for file uploads 
Adapted from File Upload using HTML & CSS
https://codepen.io/AmanChourasia/pen/WNpOpXZ 
*/

.dropbox {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.dropbox_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropbox h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.dropbox p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn:hover {
  text-decoration: none;
  background-color: var(--white);
  color: var(--black);
  outline: 1px solid #010101;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}
